/* Fondo oscuro para todo el body */
body{
    background-color: rgb(44, 44, 44);
    color: white;
    margin: 0;
    padding: 10px;
}

/* elemento, elemento */
h2, p{
    color: orange;
}

/* elemento elemento */
.ordenada ol{
    background-color: darkslateblue;
    font-size: 20px;
}

/* elemento elemento */
.desordenada ul{
    background-color: darkolivegreen;
    font-size: 20px;
}

#titulo-principal {
    text-align: center;
    text-transform: uppercase;
    color: azure;
}